*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --background: #3D405B;
    --texte: white;
    --texte2: #E07A5F;
    --couleur1: #81B29A;
    --couleur2: #F2CC8F;
    --couleur3: #F4F1DE;
}
body{
    background-color: var(--background);
}

/* ------ Header -------*/
header h2{
    z-index: -1;
    pointer-events: none;
}
header{
    position: sticky;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--couleur3);
}

    /* ------ Menu Burger -------*/
.burger{
    position: absolute;
    right: 35px;
    transition: all 1s ease;
}

.trait1{
    position: relative;
    top: 8px;
    left: 0px;
    width: 2em;
    height: 0.2em;
    background-color: var(--couleur3);
    transform-origin: top right;
    transition: all 0.3s ease;
}
.trait2{
    position: relative;
    top: 0px;
    left: 0px;
    width: 2em;
    height: 0.2em;
    background-color: var(--couleur3);
    transform-origin: bottom right;
    transition: all 0.3s ease;
}
span.ss-trait{
    display: inline-block;
    position: relative;
    top: 0px;;
    width: 1em;
    height: 0.2em;
    background-color: var(--couleur3);
    transition: all 0.5s ease;
}
span.ss-trait:after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 1em;;
    width: 1em;
    height: 0.2em;
    background-color: var(--couleur3);
    transition: all 0.5s ease;
}
                /* ------ Transitions Menu Burger -------*/
.burger:hover > span.ss-trait{
    transform: translateX(5px);
}
.burger:hover > span.ss-trait:after{
    transform: translateX(-10px);
}
.burger:active .trait1{
    transform: rotate(-40deg);
}
.burger:active .trait2{
    transform: rotate(40deg);
}

.burger:active span.ss-trait{
    opacity: 0;
}
.burger:active span.ss-trait:after{
    opacity: 0;
}  
/* ------ ------- -------*/
:focus{
    outline: 3px solid red;
}
/* ---- Navigation --------*/
nav{
    position: absolute;
    display: block;
    background-color: var(--couleur2);
    border-radius: 8px;
    top: 55px;
    width: 80%;
    margin: auto;
    height: 0vh;
    overflow: hidden;
    transition: all 0.5s ease;
}

nav ul li{
    list-style-type: none;
    text-align: center;
}
/*header>.burger:focus ~ nav{
    width: 200px;
    padding-right: 200px;
}*/
.burger:active ~ nav{
    position: relative;
    width: 100%;
    height: 20vh;
    
}
.burger:target ~ nav{
    position: relative;
    width: 100%;
    height: 20vh;
    
}
header h2 div.burger:active ~ .prez{
    position: absolute;
    height: 400px;

}
/* ------ ------- -------*/


/* ------ Présentation -------*/
section.prez{
    box-sizing: border-box;
    padding: 10px 35px;
    height: 600px;
    min-height: 80vh;
    color: var(--couleur3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-self: center;
}
.prez-text {
    height: 30%;
    overflow: scroll;
    background-color: #414562;
    padding: 0 5px;
}
/*  -----------------------  EFFET SUR TITRES H3 ------------------------------ */
.TITRE{
    width: 100%;
}
.titre span {
    opacity: 0;
    margin-right: -8px;  /* supprime l'espacement entre les lettres span mise à la ligne dans le html */
}
  /*      PASSION          */
  .pp{
    animation: p1 0.3s linear 1;
     animation-fill-mode: forwards; /*      P          */
  }
  @keyframes p1 {      /*      P         */
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1; animation-play-state: paused;}
  }
  
  .pa{
    animation: p2 0.3s linear 1;     /*      A          */
    animation-delay: 0.15s;
    animation-fill-mode: forwards;
  }
  @keyframes p2 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1; animation-play-state: paused;}
  }
  .ps-1{
    animation: p3 0.3s linear 1;      /*      S         */
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }
  @keyframes p3 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .ps-2{
     animation: p4 0.3s linear 1;     /*      S         */
     animation-delay: 0.45s;
    animation-fill-mode: forwards;
  }
  @keyframes p4 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .pi{
     animation: p5 0.3s linear 1;      /*      I         */
     animation-delay: 0.6s;
    animation-fill-mode: forwards;
  }
  @keyframes p5 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .po{
     animation: p6 0.75s linear 1;        /*      O         */
     animation-delay: 0.75s;
    animation-fill-mode: forwards;
  }
  @keyframes p6 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .pn{ 
     animation: p7 0.9s linear 1;     /*      N         */
     animation-delay: 0.9s;
    animation-fill-mode: forwards;
  }
  @keyframes p7 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
            /*      -------------          */
  
          /*      DETERMINATION          */
  .dd{
    animation: d1 0.3s linear 1;          /*      D         */
    animation-delay: 1.05s;
    animation-fill-mode: forwards;
  }
  @keyframes d1 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .de-1{
    animation: d2 0.3s linear 1;            /*      E         */
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
  }
  @keyframes d2 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .dt-1{
    animation: d3 0.3s linear 1;          /*      T         */
    animation-delay: 1.35s;
    animation-fill-mode: forwards;
  }
  @keyframes d3 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .de-2{
    animation: d4 0.3s linear 1;           /*      E         */
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
  }
  @keyframes d4 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .dr{
    animation: d5 0.3s linear 1;       /*      R         */
    animation-delay: 1.65s;
    animation-fill-mode: forwards;
  }
  @keyframes d5 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .dm{
    animation: d6 0.3s linear 1;        /*      M         */
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
  }
  @keyframes d6 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .di-1{
    animation: d7 0.3s linear 1;      /*      I         */
    animation-delay: 1.95s;
    animation-fill-mode: forwards;
  }
  @keyframes d7 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .dn-1{
    animation: d8 0.3s linear 1;       /*      N         */
    animation-delay: 2.1s;
    animation-fill-mode: forwards;
  }
  @keyframes d8 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .da{
    animation: d9 0.3s linear 1;          /*      A         */
    animation-delay: 2.25s;
    animation-fill-mode: forwards;
  }
  @keyframes d9 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .dt-2{
    animation: d10 0.3s linear 1;           /*      T         */
    animation-delay: 2.4s;
    animation-fill-mode: forwards;
  }
  @keyframes d10 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .di-2{
    animation: d11 0.3s linear 1;          /*      I         */
    animation-delay: 2.55s;
    animation-fill-mode: forwards;
  }
  @keyframes d11 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .do{
    animation: d12 0.3s linear 1;            /*      O         */
    animation-delay: 2.7s;
    animation-fill-mode: forwards;
  }
  @keyframes d12 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .dn-2{
    animation: d13 0.3s linear 1;         /*      N         */
    animation-delay: 2.85s;
    animation-fill-mode: forwards;
  }
  @keyframes d13 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
           /*      -------------          */
  
           /*      ADAPTATION          */
  
  .aa-1{
    animation: d14 0.3s linear 1;         /*      A         */
    animation-delay: 2.85s;
    animation-fill-mode: forwards;
  }
  @keyframes d14 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  
  .ad{
    animation: d15 0.3s linear 1;         /*      D         */
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }
  @keyframes d15 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .aa-2{
    animation: d16 0.3s linear 1;         /*      A         */
    animation-delay: 3.15s;
    animation-fill-mode: forwards;
  }
  @keyframes d16 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .ap{
    animation: d17 .3s linear 1;         /*      P         */
    animation-delay: 3.3s;
    animation-fill-mode: forwards;
  }
  @keyframes d17 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .at-1{
    animation: d18 .3s linear 1;         /*      T         */
    animation-delay: 3.45s;
    animation-fill-mode: forwards;
  }
  @keyframes d18 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .aa-3{
    animation: d19 .3s linear 1;         /*      A         */
    animation-delay: 3.6s;
    animation-fill-mode: forwards;
  }
  @keyframes d19 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  
  .at-2{
    animation: d20 .3s linear 1;         /*      T         */
    animation-delay: 3.75s;
    animation-fill-mode: forwards;
  }
  @keyframes d20 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .ai{
    animation: d21 .3s linear 1;         /*      I         */
    animation-delay: 3.9s;
    animation-fill-mode: forwards;
  }
  @keyframes d21 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .ao{
    animation: d22 .3s linear 1;         /*      O         */
    animation-delay: 4.05s;
    animation-fill-mode: forwards;
  }
  @keyframes d22 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
  .an{
    animation: d23 0.3s linear 1;         /*      N         */
    animation-delay: 4.2s;
    animation-fill-mode: forwards;
  }
  @keyframes d23 {
    0%{opacity: 0;}
    25%{opacity: 0.3;}
    50%{opacity: 0.6;}
    75%{opacity: 0.9;}
    100%{opacity: 1;}
  }
/*  ----------------------- ------------ ------------------------------ */
.prez > p:nth-child(2){
    width: 95%;
}
section.prez h3{
    font-size: 2em;
}
.TITRE h3:nth-child(1){
    color: var(--couleur1);
}
.TITRE h3:nth-child(2){
    color: var(--texte2);
}
.TITRE h3:nth-child(3){
    color: var(--couleur2);
}
         /* ------ Bouton -------*/
.bouton{
    text-align: center;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: var(--couleur3);
    border-radius: 3px;
}             
.bouton p a{
    text-decoration: none;
    color: var(--background);
    font-size: 1.05em;
    font-weight: 900;
}
/* ------ ------- -------*/

/* ---- réseaux --------*/
.reseau{
    position: relative;
    width: 160px;;
    display: flex;
    justify-content: space-between;
    margin-left: -5px;
}
.reseau img{ 
    width: 3.4em;
}
.reseau > a:nth-child(1):before{
    content: "";
    position: absolute;
    width: 2.6em;
    height: 2.6em;
    left: 113px;
    bottom: 11px;
    background-color: transparent;
    border: 2px solid var(--couleur3);
}
.reseau > a:nth-child(2):before{
    content: "";
    position: absolute;
    left: 58px;
    bottom: 11px;
    width: 2.6em;
    height: 2.6em;
    background-color: transparent;
    border: 2px solid var(--couleur3);
}
.reseau > a:nth-child(3):before{
    content: "";
    position: absolute;
    left: 5px;
    bottom: 11px;
    width: 2.6em;
    height: 2.6em;
    background-color: transparent;
    border: 2px solid var(--couleur3);
}

/* ---- -------- --------*/

